In [66]:
import pandas as pd
from sklearn.model_selection import train_test_split

SEED = 57

In [4]:
df = pd.read_csv("dataset/Twitter_Data.csv.zip")
df.head()

                                          clean_text  category
0  when modi promised “minimum government maximum...      -1.0
1  talk all the nonsense and continue all the dra...       0.0
2  what did just say vote for modi  welcome bjp t...       1.0
3  asking his supporters prefix chowkidar their n...       1.0
4  answer who among these the most powerful world...       1.0

In [50]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 162969 entries, 0 to 162979
Data columns (total 2 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   clean_text  162969 non-null  object
 1   category    162969 non-null  float64
dtypes: float64(1), object(1)
memory usage: 3.7+ MB

In [29]:
df.isna().sum()

clean_text    4
category      7
dtype: int64

In [30]:
df[df.clean_text.isna() | df.category.isna()]

                                               clean_text  category
148                                                   NaN       0.0
130448  the foundation stone northeast gas grid inaugu...       NaN
155642  dear terrorists you can run but you cant hide ...       NaN
155698  offense the best defence with mission shakti m...       NaN
155770  have always heard politicians backing out thei...       NaN
158693  modi government plans felicitate the faceless ...       NaN
158694                                                NaN      -1.0
159442               chidambaram gives praises modinomics       NaN
159443                                                NaN       0.0
160559  the reason why modi contested from seats 2014 ...       NaN
160560                                                NaN       1.0

In [31]:
df.dropna(inplace=True)

In [32]:
df.isna().sum()

clean_text    0
category      0
dtype: int64

In [67]:
df_tr, df_vl = train_test_split(df, test_size=0.2, random_state=SEED, stratify=df.category)
df_tr.info(), df_vl.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 130375 entries, 39588 to 74486
Data columns (total 2 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   clean_text  130375 non-null  object
 1   category    130375 non-null  float64
dtypes: float64(1), object(1)
memory usage: 3.0+ MB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 32594 entries, 100622 to 49097
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   clean_text  32594 non-null  object
 1   category    32594 non-null  float64
dtypes: float64(1), object(1)
memory usage: 763.9+ KB

(None, None)

In [68]:
df_tr.to_csv('dataset/train.csv', index=False)
df_vl.to_csv('dataset/valid.csv', index=False)